<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layouts/head');-%>
		<!-- -->
		<!-- body tag below -->
		<!-- -->
		<title>Updates</title>
	</head>
	<%- include('layouts/nav');-%> <%- include('layouts/script');-%>
	<body>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><%= post.title %></h5>
				<p class="card-text"><%= post.body %></p>
				<p class="card-text"><%= post.datePosted.toDateString() %></p>
			</div>
		</div>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
